extends layout

block content
  h1= title

  a.btn.btn-primary(href="/elephant/create") Create Elephant

  - let items = results;
  each item in items
    - let updateelephant = `dispatch("/elephant/update?id=${item._id}")`
    - let elephantDetails = `dispatch("/elephant/detail?id=${item._id}")`
    - let elephantDeletion = `dispatch("/elephant/delete?id=${item._id}")`

    div
      p ElephantName - #{item.elephant_name}
      p ElephantAge - #{item.elephant_age}
      p ElephantBread - #{item.elephant_bread}
      button.btn.btn-primary.ml-1(onclick=updateelephant) Update
      button.btn.btn-secondary.ml-1(onclick=elephantDetails) Detail
      button.btn.btn-danger.ml-1(onclick=elephantDeletion) Delete
      br
      br

  script.
    function dispatch(path){
      window.location.href = path;
    }
