extends layout
block content
 h1= title
 - let elephantid = toShow._id
 - let name = toShow.name
 - let age = toShow.age
 - let bread = toShow.bread
 div
 div.row
 div(class='elephantAttr mr-3') elephant ID is:
 div #{elephantid}
 div.row
 div(class='elephantAttr mr-3') elephant name is:
 div #{name}
 div.row
 div(class='elephantAttr mr-3') elephant age is:
 div #{age}
 div.row
 div(class='elephantAttr mr-3') elephant bread is:
 div #{bread}