extends layout
 
block content
 h1(class='detail')= title
 
  if (toShow==null)
   h2 No Instance to show on detail page
  else
   - let elephantid = toShow._id
   - let name = toShow.name
   - let age = toShow.age
   - let bread = toShow.bread
    div
    div.row
      div(class='elephantAttr mr-3') elephant id is:
      div #{elephantid}
       
    div.row
      div(class='elephantAttr mr-3') elephant name is:
      div #{name}
    div.row
      div(class='elephantAttr mr-3')  age is:
      div #{age}
    div.row
      div(class='elephantAttr mr-3') breed is:
      div #{bread}